<body>



  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark"
      data-navbar-darken-on-scroll="data-navbar-darken-on-scroll">
      <div class="container"><a class="navbar-brand" href="../index.html"><span
            class="text-white dark__text-white">MonitoreoDatos</span></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
          <ul class="navbar-nav" data-top-nav-dropdowns="data-top-nav-dropdowns">



          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item d-flex align-items-center me-2">
              <div class="nav-link theme-switch-toggle fa-icon-wait p-0">
                <input class="form-check-input ms-0 theme-switch-toggle-input" id="themeControlToggle" type="checkbox"
                  data-theme-control="theme" value="dark">
                <label class="mb-0 theme-switch-toggle-label theme-switch-toggle-light" for="themeControlToggle"
                  data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to light theme"><span
                    class="fas fa-sun"></span></label>
                <label class="mb-0 py-2 theme-switch-toggle-light d-lg-none" for="themeControlToggle"><span>Switch to
                    light theme</span></label>
                <label class="mb-0 theme-switch-toggle-label theme-switch-toggle-dark" for="themeControlToggle"
                  data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to dark theme"><span
                    class="fas fa-moon"></span></label>
                <label class="mb-0 py-2 theme-switch-toggle-dark d-lg-none" for="themeControlToggle"><span>Switch to
                    dark theme</span></label>
              </div>
            </li>
            <!--Login component -->
            <app-login-form [usuario]="usuario"></app-login-form>
            
        
          </ul>
        </div>
      </div>
    </nav>



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden light" id="banner">

      <div class="bg-holder overlay"
        style="background-image:url(assets/img/generic/bg-1.jpg);background-position: center bottom;">
      </div>
      <!--/.bg-holder-->

      <div class="container">
        <div class="row flex-center pt-8 pt-lg-9 pb-lg-9 pb-xl-0">
          <div class="col-md-6 col-lg-6 col-xl-6 pb-7 pb-xl-9 text-center text-xl-start">
            <h1 class="text-white fw-light"> <span class="typed-text fw-bold"
                data-typed-text='["Explora y monitorea","Visualiza y analiza,","Fácil de usar, potente en resultados."]'></span><br />En
              un solo lugar</h1>
              <p class="lead text-white opacity-75">
                Explora un análisis de datos en tiempo real con nuestro sistema de monitoreo. Visualiza y analiza información de una red de sensores simulada,
                 incluyendo variables como temperatura, humedad y presión. Nuestra aplicación te permite ver estos datos en gráficos en tiempo real.
              </p>
          </div>
         
          
        </div>
      </div>

      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-3 bg-light shadow-sm">

      <div class="container">
        
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->






    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-light text-center">

      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="fs-2 fs-sm-4 fs-md-5">Ingresa a monitoreo de datos</h1>
            <p class="lead">No te pierdas esta experiencia</p>
          </div>
        </div>
        
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->







    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-dark pt-8 pb-4 light">

      <div class="container">
        <div class="position-absolute btn-back-to-top bg-dark"><a class="text-600" href="#banner" data-bs-offset-top="0"
            data-scroll-to="#banner"><span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a></div>
        <div class="row">
          <div class="col-lg-4">
            <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
            <p class="text-600">Falcon enables front end developers to build custom streamlined user interfaces in a
              matter of hours, while it gives backend developers all the UI elements they need to develop their web
              app.And it's rich design can be easily integrated with backends whether your app is based on ruby on
              rails, laravel, express or any other server side system.</p>
            <div class="icon-group mt-4"><a class="icon-item bg-white text-facebook" href="#!"><span
                  class="fab fa-facebook-f"></span></a><a class="icon-item bg-white text-twitter" href="#!"><span
                  class="fab fa-twitter"></span></a><a class="icon-item bg-white text-google-plus" href="#!"><span
                  class="fab fa-google-plus-g"></span></a><a class="icon-item bg-white text-linkedin" href="#!"><span
                  class="fab fa-linkedin-in"></span></a><a class="icon-item bg-white" href="#!"><span
                  class="fab fa-medium-m"></span></a></div>
          </div>
          <div class="col ps-lg-6 ps-xl-8">
            <div class="row mt-5 mt-lg-0">
              <div class="col-6 col-md-3">
                <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="link-600" href="#!">About</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Contact</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Careers</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Blog</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Terms</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Privacy</a></li>
                  <li><a class="link-600" href="#!">Imprint</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3">
                <h5 class="text-uppercase text-white opacity-85 mb-3">Product</h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="link-600" href="#!">Features</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Roadmap</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Changelog</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Pricing</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Docs</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">System Status</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Agencies</a></li>
                  <li class="mb-1"><a class="link-600" href="#!">Enterprise</a></li>
                </ul>
              </div>
              <div class="col mt-5 mt-md-0">
                <h5 class="text-uppercase text-white opacity-85 mb-3">From the Blog</h5>
                <ul class="list-unstyled">
                  <li>
                    <h5 class="fs-0 mb-0"><a class="link-600" href="#!"> Interactive graphs and charts</a></h5>
                    <p class="text-600 opacity-50">Jan 15 &bull; 8min read </p>
                  </li>
                  <li>
                    <h5 class="fs-0 mb-0"><a class="link-600" href="#!"> Lifetime free updates</a></h5>
                    <p class="text-600 opacity-50">Jan 5 &bull; 3min read &starf;</p>
                  </li>
                  <li>
                    <h5 class="fs-0 mb-0"><a class="link-600" href="#!"> Merry Christmas From us</a></h5>
                    <p class="text-600 opacity-50">Dec 25 &bull; 2min read</p>
                  </li>
                  <li>
                    <h5 class="fs-0 mb-0"><a class="link-600" href="#!"> The New Falcon Theme</a></h5>
                    <p class="text-600 opacity-50">Dec 23 &bull; 10min read </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 bg-dark light">

      <div>
        <hr class="my-0 text-600 opacity-25" />
        <div class="container py-3">
          <div class="row justify-content-between fs--1">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600 opacity-85">Thank you for creating with Falcon <span
                  class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2022 &copy; <a
                  class="text-white opacity-85" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600 opacity-85">v3.10.0</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


  


    
  </main>

</body>
